@media screen and (min-width: 800px) {

    main {
        .gridFav {
            width: 90%;
            grid-template-columns: repeat(4, 1fr);
            grid-gap: 10px;


            

            .gifos {

                display: flex;
                justify-content: center;
                align-content: center;
                position: relative;
                margin: auto;
                width: 100%;
                
                &:hover {
                    background-color: $color-principal;
                    z-index: 3;
                    opacity: 0.7;
                }

                &:hover .user{
                    display: block;
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    padding: 0 0 10% 10%;
                    color: $color-white;
                    font-family: $font-roboto;
                    z-index: 2;


                    h2 {
                        font-size: 15px;
                        padding-bottom: 10%;
                        
                    }

                    p {
                        font-size: 16px;
                        font-weight: bold;
                        
                    }

                }

                &:hover .icons_gifos {
                    position: absolute;
                    right: 0;
                    top: 0;
                    display: flex;
                    padding: 2%;
                    width: 40%;
                    z-index: 4;
                    cursor: pointer;
                    

                    a {
                        padding: 3%;
                        z-index: 0;
                        
                    }

                                    
                }

                &:hover .gif {
                    opacity: 0.3;
                }

                .gif {
                    grid-column: 1/5;
                    grid-row: 0/3;
                    width: 100%;
                    max-width: unset;
                    height: 200px;
                    margin: unset;
                    z-index: -1;

                }
            }
            
        }
    }
}