$font-montserrat: 'Montserrat', sans-serif;
$font-roboto: 'Roboto', sans-serif;

$color-principal: #572EE5;
$color-secondary: #50E3C2;
$color-terciary: #6B7989;
$color-fourth: #F3F5F8;
$color-fifth: #9CAFC3;
$color-white: #FFFFFF;
$color-black: #000000;
$color-nocturno1: #37383C;
$color-nocturno2: #222326;
$color-underline: #5ED7C6;


