/////////////////// CREATE GIFOS //////////

body {
    font-family: $font-montserrat;
    max-width: 1440px;
    margin: auto;
    color: $color-principal;
}


//HEADER //////////////////////////////////////

header {
    .line {
        height: 5px;
        background-color: $color-principal;
    }

    .header_nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 6% 5.9% 2%;
        height: 2.6%;
    

        .logo {
            height: 15vw;
        }
    
        nav {
            width: 7.5%;
            margin: 5% 0;
            ul {
                
                display: none;
                position: absolute;
                background: $color-principal;
                height: 100vh;
                left: 0px;
                top: 25vw;
                padding-top: 10vw;
                opacity: 90%;
                z-index: 3;



                li {
                    
                    list-style: none;
                    height: 2em;
                    margin-top: 1.5em;
                    text-align: center;
                    font-size: 15px;

                    
                    
                    
                    a {
                        color: $color-white;
                        text-decoration: none;
                        font-size: 15px;
                    }
                }

                .underline {
                    height: 1px;
                    margin: 0 159px;
                    text-align: center;
                    background-color: $color-white;

                }
            }
            
            .menu_x {
                display: none;
            }
            
            input:checked  ~ ul {
                display:block;
                position: absolute;
                right: 0;
            }
            
            input:checked  ~ .menu_x {
                display: list-item;
                list-style: none;
            }

            input:checked  ~ .menu_h {
                display: none;
            }

            input {
                display: none;
            }

            label {
                box-sizing: border-box;
                display: inline-block;
                text-align: center;
                user-select: none;
                color: $color-principal;
                cursor: pointer;

                i{
                    font-size: 6vw;
                }
            }
        }
    }

}

// MAIN /////////////////////////////////////////

main {

    // CREATE /////////////////////
    .create {
        display: grid;
        grid-template-columns: 20fr 60fr 20fr;
        
        .camara {
            display: flex;
            width: auto;
            justify-content: flex-end;
            position: relative;
            left: 50px;

        }
        .container_square {
            display: flex;
            justify-content: center;
            .container {
                
                border: 1px solid $color-principal;
                padding: 20px;
                width: 50vw;
                height: 50vh;
                
    
    
                #subcontainer {
                    height: 50vh;
                    background:
                    linear-gradient(to right, $color-secondary 1px, transparent 1px) 0 0,
                    linear-gradient(to right, $color-secondary 1px, transparent 1px) 0 100%,
                    linear-gradient(to left, $color-secondary 1px, transparent 1px) 100% 0,
                    linear-gradient(to left, $color-secondary 1px, transparent 1px) 100% 100%,
                    linear-gradient(to bottom, $color-secondary 1px, transparent 1px) 0 0,
                    linear-gradient(to bottom, $color-secondary 1px, transparent 1px) 100% 0,
                    linear-gradient(to top, $color-secondary 1px, transparent 1px) 0 100%,
                    linear-gradient(to top, $color-secondary 1px, transparent 1px) 100% 100%;
                
                  background-repeat: no-repeat;
                  background-size: 20px 20px;
    
                  display: flex;
                  flex-direction: column;
                  justify-content: center;
                  align-items: center;
    
    
    
                    h2 {
                        margin: 0px;
                        padding: 20px 0;
                        font-weight: bold;
                        font-size: 25px;
                        text-align: center;
                        font-weight: bold;
    
                        span {
                            color: $color-secondary;
                        }
                    }
    
                    p {
                        margin: 0px;
                        padding: 20px 0;
                        text-align: center;
                        font-family: $font-roboto;
                        font-size: 16px;
                        color: $color-black;
                    }

                    video {
                        display: none;
                        height: 90%;
                        width: 90%;

                    }

                    .preLoad{
                            box-sizing: border-box;
                            position: relative;
                            width: 80%;
                        
                        #preLoadGif {
                            width: 100%;
                        }

                        .overlay {
                            box-sizing: border-box;
                            position: absolute;
                            top: 0;
                            box-sizing: border-box;
                            background: rgba(87, 46, 229, 0.6); 
                            height: 100%;
                            width: 100%;
                            transition: 0.5s ease;
                            opacity: 0;
                            display: flex;
                            justify-content: center;
                            align-content: space-between;
                            flex-direction: column;
                            
                            .overlayMode {
                                flex-direction: column;
                                align-items:  center; 
                                color: $color-white;
                                text-align: center;
                                font-family: $font-montserrat;
                                position: relative;
                            }

                            .iconPL {
                                position: absolute;
                                top: 4px;
                                right: 4px;
                                .iconPLink{
                                    opacity: 0.7;
                                    cursor:pointer;
                                }
                                .iconPLDonw {
                                    opacity: 0.7;
                                    cursor:pointer;
                                }
                                .iconPLink:hover {
                                    opacity: 1;
                                }
                                .iconPLDonw:hover {
                                    opacity: 1;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

            //NUMBERS/////////////////////////
            
            .numbers {
                display: grid;
                grid-template-columns: 20fr 60fr 20fr;
                position: relative;

                #clock {
                    display: none;
                    position: absolute;
                    right: 25vw;
                    top: 35px;
                    font-weight: bold;
                }

                #repeat {
                    display: none;
                    position: absolute;
                    right: 25vw;
                    top: 35px;
                    font-weight: bold;
                    font-size: 13px;
                    padding-bottom: 3px;
                    cursor: pointer;
                    
                    &:hover {
                        border-bottom: 3px solid $color-secondary;
                    }
                }

                .steps {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: auto;
                    grid-column: 2/3;


                    img {
                        padding: 0 3%;
                        font-family: $font-roboto;
                        
                    }
                        
                }
                
                .pelicula {
                    position: relative;
                    bottom: 10px;
                }
            }
    
    .line_create {
        display: grid;
        grid-template-columns: 20fr 60fr 20fr;
        .line_container {
            height: 6.9px;
            width: 100%;
            grid-column: 2/3;
            background-color: $color-principal;
            border-radius: 10px;
        }

    }

    .btn_container {
        display: grid;
        grid-template-columns: 20fr 60fr 20fr;
        padding-top: 2%;

        button {
            grid-column: 2/3;
            border: 1px solid $color-principal;
            border-radius: 25px;
            height: 53px;
            width: 15vw;
            font-size: 13px;
            font-family: $font-montserrat;
            color: $color-principal;
            font-weight: bold;
            justify-self: center;
            background-color: $color-white;
        }
    
    }
        
}
//FOOTER///////////////////////////

footer {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 10% 2%;
    font-family: $font-roboto;
    color: $color-black;

    .social {
        display: flex;
        align-items: center;
        width: 30%;

        
        p {
            font-size: 13px;
            width: 50%;
        }

        .social_icons {
            display: flex;
            justify-content: space-between;

            width: 100%;

            
        }
    }

    p {
        font-size: 13px;
        text-align: center;
        

    }
}
.line {
    height: 5px;
    background-color: $color-principal;
}


